PruebaDigitalBank_CesarGiraldo/Capa1PresentacionWeb/Web References/CapaWCF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="SexoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimientoUsuario" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioModel" nillable="true" type="tns:UsuarioModel" />
  <xs:complexType name="ArrayOfUsuarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioModel" nillable="true" type="tns:UsuarioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioModel" nillable="true" type="tns:ArrayOfUsuarioModel" />
</xs:schema>